<div class="control-group">
  <%= f.label :extra, 'Google map (код)', :class => 'control-label' %>
  <div class="controls">
    <%= f.text_area :extra, :rows => 4, :class => 'span5' %>
  </div>
</div>