<div class="wrapper_580">
  <div class="box thanks">
    <h5><%= t('chartering.send_thanks') %></h5>
    <p><%= t('chartering.send_details') %></p>
    <a href="#" class="send"><%= t('chartering.send_more') %></a>
    <div class="clear"></div>
  </div>
</div>