/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

/* RESET DEFAULT STYLES */
html,body,div,span,applet,object,iframe,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,label,legend,p,blockquote,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
html,body {height: 100%; min-height: 100%;}
body{line-height:1;color:black;background:white;}:focus{outline:0;}
table{border-collapse:collapse;border-spacing:0;}
caption,th,td{text-align:left;font-weight:normal;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
abbr,acronym{border:0;}

.clear {clear:both; visibility:hidden;}

html {background: url("bg.png");}
body {background: url("bg_top.png") no-repeat center top; color: #bae9ff; font-size: 14px; font-family: Georgia}

.base {height: auto !important; min-height: 100%; width: 100%}
.base_highlight {background: url("bg_top_index.png") no-repeat center top}
.logo {background: url("logo.png") no-repeat left top; padding: 20px 0px 30px 120px; height: 60px; line-height: 60px; float: left; font-size: 40px; color: #ffffff; text-decoration: none; display: block;}

.breaker {background: url("breakers.png") no-repeat; height: 12px; line-height: 12px; display: block;}
.br1 {background-position: 0 0}
.br2 {background-position: 0 -12px}
.br3 {background-position: 0 -24px}
.br4 {background-position: 0 -36px}
.br5 {background-position: 0 -48px}

ul.lang {float: right; margin-top: 30px; width: 240px; list-style:none; padding: 0}
ul.lang li {float: left; height: 40px; padding-left: 40px; width: 60px; margin-left: 20px;}
ul.lang li a {float: left; display: inline-block; height: 40px; line-height: 40px; color: #8bd4f6; padding-left: 21px; text-decoration: none}
ul.lang li a.ru {background: url("icons/flag_ru.png") no-repeat left center}
ul.lang li a.en {background: url("icons/flag_en.png") no-repeat left center}
ul.lang li.active {background: url("lang_bg.png") no-repeat;}
ul.lang li.active a {color: white}

ul.menu {list-style: none; margin: 10px 0 80px -20px; position: relative; overflow: hidden; padding: 0}
ul.menu li {float: left; width: 100px; margin-left: 20px}
ul.menu li a {height: 40px; line-height: 40px; display: block; color: white; text-decoration: underline; text-align: center}
ul.menu li a:hover {color: #5ccfff;}
ul.menu li.active {background: url("manu_bg.png") no-repeat; color: white !important;}

.wrapper {padding: 20px;}
.wrapper, .footer {width: 940px; margin: 0 auto; position: relative; overflow: hidden;}
.footer, .footer_inner {height: 60px; position: relative;}
.footer {margin-top: -60px;}
.footer .logo {background: url("logo_footer.png") no-repeat top left; padding: 2px 0px 10px 60px; height: auto !important; line-height: 22px; font-size: 20px;}
.footer .menu {width: 720px; float: right; height: 40px; margin: 5px 0 0 !important;}
.footer .menu li {width: 90px; margin-left: 0;}
.footer .menu li a {font-size: 11px;}

.content {position: relative; overflow: hidden; margin-bottom: 20px}

.home {margin-top: 360px;}
.home .left_column {width: 280px; margin-right: 80px; float: left;}
.home .center_column {width: 340px; margin-right: 20px; float: left;}
.home .right_column {width: 220px; float: left}
.home .breaker {margin-bottom: 45px;}
.block h4 {line-height: 32px; padding: 3px 0 5px; margin-bottom: 15px; font-size: 30px; color: white}
.block p {line-height: 20px; color: #bae9ff; margin-bottom: 10px;}
.block a {display: inline-block; color: white; text-decoration: underline}
.left_column a.link_more {background: url("icons/flag.png") no-repeat left top; line-height: 50px; height: 50px; padding: 0 0 10px 50px; margin-bottom: 45px}
.left_column a.link_list_equipment {background: url("icons/settings.png") no-repeat left 5px; line-height: 20px; margin-top: 25px; padding-left: 50px;}

.center_column img, a.vessel img {float: left; border: 2px solid white; margin: 5px 20px 20px 0;}
.center_column .vessel p, a.vessel p {margin-top: 10px;}
.center_column a.link_vessel, a.vessel h5 {font-size: 18px; display: inline; line-height: 20px;}
.center_column a.link_fleet {background: url("icons/ship.png") no-repeat left top; line-height: 30px; height: 30px; padding-left: 60px; margin-bottom: 55px}
.center_column ul.jobs {list-style-type: none; margin: 0; padding: 0}
.center_column ul.jobs li {padding: 5px 0; margin-bottom: 5px;}

.right_column a.fill_application {background: url("icons/pen.png") no-repeat left top; line-height: 20px; margin-top: 25px; padding-left: 50px;}
.right_column a.download_application {background: url("icons/download.png") no-repeat left bottom; line-height: 20px; margin: 20px 0 45px; padding: 10px 0 0 50px;}
.right_column a.map {background: url("icons/wheel.png") no-repeat left top; line-height: 30px; margin-top: 15px; padding:0 0 20px 50px;}

.slideshow {margin: 0 auto; width: 700px; margin-bottom: 30px;}
.slideshow_cover {background: url("cover.png") no-repeat; position: absolute; width: 700px; height: 547px; z-index: 11; overflow: hidden;}
#slideshow {padding: 26px 0 0 24px; width: 652px; height: 547px; position: relative; overflow: hidden;}
#slideshow img {position:absolute; z-index:8; opacity:0.0; max-width: 652px; }
#slideshow img.active {z-index:10; opacity:1.0;}
#slideshow img.last-active {z-index:9;}

.wrapper_700 {margin: 0 auto; width: 700px;}
.wrapper_580 {margin: 0 auto; width: 580px;}

h3.title {height: 40px; line-height: 40px; font-size: 30px; text-align: center; color: #ffffff; margin-bottom: 15px;}
.text p {line-height: 20px; margin-bottom: 20px; font-size: 16px;}
.text li {line-height: 20px; font-size: 16px;}
.text ul {padding-bottom: 10px}

.certificates {width: 484px; text-align: center; margin: 70px auto 0;}
.certificates a {margin: 0 10px 70px 10px; display: inline-block; width: 220px;}
.certificates img {border: 5px solid white}

.vessels {position: relative; overflow: hidden; margin-top: 2px;}
.vessels ul {margin: -16px 0 0 -20px; padding: 0; position: relative; overflow: hidden; list-style: none}
.vessels ul li {background: url("fleets_line.png") no-repeat left 36px; float: left; width: 340px; height: 180px; position: relative; overflow: hidden; margin-left: 10px; margin-bottom: 2px; padding-left: 10px}
.vessels ul li a {background: url("fleet_bg.png") no-repeat left 320px; display: block; padding: 10px; width: 320px; height: 140px; position: relative; overflow: hidden; margin-top: 4px; text-decoration: none !important;}
.vessels ul li a p {line-height: 20px; max-height: 80px; overflow: hidden;}
.vessels ul li h5 {margin-top: 4px; display: inline-block;}
.vessels ul li a p, .vessels ul li h5 {color: white; text-decoration: none}
.vessels ul li h5 {text-decoration: underline}
.vessels ul li a:hover {background-position: left top;}
.vessels ul li a:hover p {color: #8bd4f6}
.vessels ul li a:hover h5 {color: #00d8ff; text-decoration: none}
.vessels ul li a img {margin: 10px 20px 10px 10px;}

.m_b_30 {margin-bottom: 30px; position: relative; overflow: hidden;}
.m_b_60 {margin-bottom: 60px; position: relative; overflow: hidden;}

.vessel_head {margin-bottom: 80px; position: relative; overflow: hidden;}
.vessel_head div {float: left; width: 240px;}
.vessel_head .center {width: 460px}
.vessel_head .center h3 {font-size: 30px; font-weight: bold; line-height: 40px; height: 40px; text-align: center; margin-bottom: 15px; color: white}
.vessel_head .center p {line-height: 20px}
.vessel_head .left, .vessel_head .right {display: inline-block; height: 40px; line-height: 40px; width: 200px;}
.vessel_head .left {text-align: left; margin-left: 40px;}
.vessel_head .left a {padding-right: 15px;}
.vessel_head .right {text-align: right;}
.vessel_head a {border-radius: 2px; color: #bae9ff; display: inline-block; background: url("arrows_link_bg.png") no-repeat; height: 40px; line-height: 40px;}
.vessel_head a i {background: url("arrows_link.png") no-repeat; width: 30px; height: 40px; line-height: 40px; display: inline-block;}
.vessel_head a:hover {color: #00d8ff}
.vessel_head .left a i {float: left;}
.vessel_head .left a:hover {background-position: 30px -120px; text-decoration: none}
.vessel_head .left a:hover i {background-position: 0 -40px}
.vessel_head .right a {padding-left: 15px; margin-right: 30px; position: relative;}
.vessel_head .right a i {float: right; background-position: -50px 0; right: -30px; position: absolute;}
.vessel_head .right a:hover {background-position: 0px -120px; text-decoration: none}
.vessel_head .right a:hover i {background-position: -50px -40px}

.vessel_media {width: 340px; float: left; padding: 0 60px; position: relative;}
.vessel_media .cover {width: 330px; border: 5px solid white;}
.vessel_media .breaker {margin: 34px 0 24px -2px}
.vessel_media h5, .vessel_info h5 {line-height: 30px; height: 30px; font-size: 18px; margin-bottom: 10px; color: white}
.vessel_media .images .cover, .vessel_media .images li {height: 230px; overflow: hidden;}
.vessel_media .images li, .vessel_media .images ul {padding: 0; margin: 0}
.vessel_media .images #prevBtn, .vessel_media .images #nextBtn {position: absolute; top:120px;}
.vessel_media .images #prevBtn a, .vessel_media .images #nextBtn a {width: 60px; height: 80px; display: block; background: url("arrow.png") no-repeat;}
.vessel_media .images #prevBtn {left: 0px;}
.vessel_media .images #prevBtn a {background-position: -60px 0px;}
.vessel_media .images #prevBtn a:hover {background-position: 0px -80px;}
.vessel_media .images #nextBtn {left: 400px;}
.vessel_media .images #nextBtn a:hover {background-position: -60px -80px;}
.vessel_media .pocket_plan .cover {position: relative; overflow: hidden;}
.vessel_media .pocket_plan a {display: block; position: absolute; width: 100%; height: 100%; background: url("zoom.png") no-repeat center; text-indent: -10000px}

.vessel_info {width: 420px; float: right; margin-right: 40px}
.vessel_info td {vertical-align: top; line-height: 20px; color: #bae9ff; padding: 5px 0}
.vessel_info tr td:first-child {color: white}

form label {display: block; font-size: 12px; color: white; height: 30px; line-height: 30px; cursor: pointer}
form .input {height: 30px; width: 200px; background: url(input_bg.png); border: none; color: #303f5c; font-size: 15px; border-radius: 2px; behavior: url('border-radius.htc'); padding: 0 10px; z-index: 5010; position: relative;}
form textarea {height: 90px; width: 200px; background: #f2fbff url(text_area_bg.png) repeat-x; border: none; color: #303f5c; font-size: 15px; border-radius: 2px; behavior: url('border-radius.htc'); padding: 10px; z-index: 5010; position: relative;}
form textarea, form input {margin-bottom: 20px;}

.box {background: url("form_bg.png"); position: relative; border-radius: 2px; border-top: 1px solid #011F32; box-shadow: inset 0px 1px 1px #01273E; -moz-box-shadow: inset 0px 1px 1px #01273E; -webkit-box-shadow: inset 0px 1px 1px #01273E}
.box.thanks {padding: 70px 50px 50px 100px !important; display: none; width: 430px !important;}
.box.thanks h5 {height: 40px; line-height: 40px; font-size: 30px; color: white; margin-bottom: 10px}
.box.thanks p {color: #8bd4f6; display: block; width: 340px; line-height: 28px; margin-bottom: 40px; font-size: 30px;}
.box.thanks a {float: right; display: inline-block; height: 30px; line-height: 30px; color: #00d8ff; font-size: 18px;}

.chartering fieldset {float: left;}
.chartering .box {padding: 40px 60px; width: 220px;}
.chartering .box.title {height: 40px; line-height: 40px; padding: 30px 0; width: 700px; text-align: center; font-size: 30px; color: #bae9ff; margin-bottom: 20px;}
.chartering .small {width: 100px; float: left;}
.chartering .small input {width: 80px}
.chartering fieldset#step_1, .chartering .small.first {margin-right: 20px;}
.box.submit {padding: 40px; width: 260px; margin-top: 20px;}
.box.submit input {width: 260px; height: 60px; line-height: 60px; border: none; background: transparent url("button_bg.png"); color: white; font-size: 24px; margin-bottom: 0; text-shadow: 0px -1px #2287c5}
.box.submit input:hover {background-position: 0 -60px; cursor: pointer}
.box.submit input.disabled {background-position: 0 0 !important; cursor: default}

.genHeader {background: url("select_box_bg.png") no-repeat; cursor:pointer; width:170px; color: #303f5c; font-size: 15px; padding: 0 40px 0 10px; margin-bottom: 20px}
.menuHeader, .genHeader {height:30px; line-height:30px; overflow:hidden;}
.menuHeader {position:absolute; width:220px; z-index:10000;}
.advMenuUL {list-style: none; background-color: white; z-index:5011; margin-top: -21px; padding-left: 0px;}
.advMenuUL li {height:30px; line-height:30px; padding-left: 10px; margin: 0; cursor:pointer; z-index: 5020; position: relative; color: #525357}
.advMenuUL li.sel, .advMenuUL li:hover {background:#d2f1ff; color: #303f5c;}

.arrow_down {background: url("arrow_down.png"); width: 20px; height: 10px; position: absolute; bottom: -10px; left:160px}
.arrow_right {background: url("arrow_right.png"); width: 10px; height: 20px; position: absolute; right: -10px; top:190px; border-left: 1px solid #002d47}
.arrow_left {background: url("arrow_left.png"); width: 10px; height: 20px; position: absolute; left: -10px; bottom:60px; border-right: 1px solid #002c47}

.tech_dep ul.level_1 {margin: 0 0 64px; padding: 0; list-style: none; padding-top: 20px;}
.tech_dep ul.level_1 ul {margin: 0; padding: 0; list-style: none}
.tech_dep ul.level_1 li {margin: 0; padding: 0}
.tech_dep ul .root {line-height: 40px; height: 40px; font-size: 24px; color: #ffffff; position: relative; display: block; cursor: pointer; text-decoration: underline}
.tech_dep ul .root .ui-icon {background: url("arrow_list.png") 0 0; width: 20px; height: 10px; display: inline-block; left: -30px; top: 17px; position: absolute;}
.tech_dep ul strong.ui-state-active {text-decoration: none !important;}
.tech_dep ul strong.ui-state-active .ui-icon {background-position: 0 -10px;}
.tech_dep ul.child {margin-bottom: 30px !important;}
.tech_dep ul.child li {padding-left: 10px !important;}
.tech_dep ul.child li strong {height: 30px; line-height: 30px; display: block; color: #ffffff; position: relative; font-size: 20px; text-decoration: underline}
.tech_dep ul.child li p {line-height: 22px; padding: 5px 30px; font-size: 18px; color: #8bd4f6; display: block;}
.tech_dep ul.child .ui-icon {background: url("arrow_list_small.png") left top no-repeat; width: 20px; height: 6px; display: inline-block;}
.tech_dep ul.child .ui-state-active .ui-icon {background-position: 0 -6px;}

.tech_dep .arrow_down {left: 520px !important;}
.tech_dep .box {padding: 40px 60px;}
.tech_dep .box.submit {float: right; padding: 40px !important;}
.tech_dep form, .tech_dep .box.thanks {margin-top: 64px;}
.tech_dep fieldset {float: right;}
.tech_dep .info {width: 300px; float: left;}
.tech_dep .info h5 {font-size: 30px; margin: 10px 0 28px; line-height: 30px;}
.tech_dep .info p {color: #bae9ff; font-size: 12px; line-height: 18px;}
.tech_dep .symbols_left {font-size:12px; float:right; display: inline-block; height: 30px; line-height: 30px; color: #75afca;}
.tech_dep input.symbols_count {width: 27px; float: right; background: none; border: none; color: #75afca; margin-bottom: 0px; height: 30px; line-height: 30px; text-align: right; margin-right: 5px;}
.tech_dep .symbols {margin-top: -20px; position: relative;}