<p>Здравствуйте, <%= @resource.email %>!</p>
<p>Вы получили это письмо потому, что вы (либо кто-то, выдающий себя за вас) попросили сменить пароль к вашей учётной записи.</p>
<p>Для смены пароля перейдите по <%= link_to 'ссылке', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>.</p>
<p>Если вы не просили сменить пароль, то не обращайте внимания на это письмо.</p>
