<h2>Пользователи</h2>

<div class="block">
  <%= form_for(@user, :url => admin_user_path(@user)) do |form| %>
    <fieldset class="clearfix form-horizontal">
      <legend>Редактирование пользователя</legend>
      <%= render 'form', :f => form %>
    </fieldset>
  <% end %>
</div>